.navbar {
    display : flex;

}

.navbar-nav {
    display : flex;
    font-size : 1.5rem;
    list-style : none;
    padding : 0;
    gap: 2rem;
    margin: 0rem;
}


.navbar-nav .nav-link {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.navbar-nav .nav-link:hover {
    background-color: #32567c; /* Change this to your desired hover color */
    color: #32567c; /* Change text color on hover */
}
