.header {
    background-color: #1C2541;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    font-size: 4em;
    font-weight: bold;
  }